dㅇ<html>
1. [개념] CSS의 선택자에 대하여 기본예제를 통해 설명하세요

CSS의 선택자는 스타일을 적용할 대상을 지정하는 것이다.
EX)
<style>
    p{color:blue;} - 태그 선택자: p태그가 파란색으로 바뀜
</style>

2. [실습] h4, span, p 태그의 글자색과 배경색상을 선언하고, 해당 내용을 적용되는지 화면에서 출력해보세요.

<style>
    h4 {color: white; background-color: yellow;}
    span {color: red; background-color: black;}
    h4 {color: black; background-color: yellow;}
</style>

3. [개념] 선택자의 기본 3개를 선언하고 화면에 출력하되, 각각 기능의 차이점을 기술하세요.

<style>
  /* 태그 선택자: 모든 <p>태그에 적용 */
  p {color: blue;}

  /* 클래스 선택자: class="highlight" 에 적용 */
  .highlight {color: green;}

  /* 아이디 선택자: id="special" 에 적용 */
  #special {color: red;}
</style>

태그 선택자는 해당 html태그(p, h2 등) 전체에 스타일을 적용하는 것이고,
클래스 선택자는 같은 클래스를 가진 여러 요소에 적용하는 것,
아이디 선택자는 페이지 내에서 해당 아이디를 가진 특정 요소 1개에만 적용하는 것이다. 

4. [실습] 프로필 카드에서, `<h1>` 태그의 글자 색을 `navy`로 변경하는 CSS 코드를 추가해 보세요.

h1 {color: navy;}

5. [실습] 성공 알림 상자(`.success`)의 테두리 색을 배경색과 어울리는 진한 초록색(`#006421`)으로 바꿔보세요.

.success {border: 2px solid #006421;}

6. [실습] 제목(`<h1>` )에 아이디(myColor)로 파란색 테두리 그리기

#myColor {border: 2px solid blue;}

7. [개념] css에서 속성선언이란 무엇인지 기본 예제를 통해 기술하고, 여러가지 속성선언형식에 대하여 기술하세요

속성 선언은 스타일의 구체적인 설정값을 선언하는 것이다.
선택자 {속성: 값;}
p{
    color: blue; /*글자색 파란색으로 선언*/
    font-size: 16px; /*글자 사이즈 16px로 선언*/
    background-color:yellow; /*배경색 노란색으로 선언*/
}

8. [개념] css에서 속성을 크게 4가지로 분류하여 대표적인 속성과 속성값을 각각 3개씩 설명하고, 적용한 결과를 출력해보세요.

글자/배경/레이아웃/위치로 분류할 수 있다.
글자: color, font-size, font-weight
배경: backgroun-color, background-image, background-size
레이아웃: margin, padding, border
위치: position, top, left

9.  [실습] div에 속성으로 class="cls88"로 선언하고, 배경색상으로 노랑색으로 특정한 위치에 로딩되어 있는 선언을 처리하세요
      (position:absolute, top/left 속성 활용)

<div class="cls88>노란색</div>
<style>
.cls88{background-color: yellow; position: absolute; top:100px; left:150px}
</style>

10. [개념] css 태그의 선언하는 형식 3가지를 기본코드와 함께 선언하고 우선순위를 설명하세요.

외부 스타일 시트(낮음) ex) <link rel="stylesheet" href="style.css> - 외부에 저장된 스타일을 가져오는 것
내부 스타일 시트(중간) ex) <style> p{color:blue;} </style> - html 내부의 스타일 태그 안에서 가져오는 것
인라인(높음) ex) <p style="color:red;"> - 태그내에 직접 스타일 적용하는 것

11.  [실습] 아래 단계별 css 선언을 처리하세요.
    1) "CSS는 정말 재미있어요\!" 문단의 글자만 `style` 속성(인라인 스타일)을 이용해 **굵게**(`font-weight: bold;`) 만들어보세요.
    2) `<style>` 태그 안에, 모든 `<p>` 태그의 배경색을 `lightyellow`로 지정하는 코드를 추가해 보세요.
    3) `style.css` 파일을 사용하는 HTML 페이지가 100개 있다면, 모든 페이지의 `.notice01` 박스 테두리를 초록색(`green`)으로 출력되게 하세요.
   테스트 파일 style.css 호출하여 처리..

-index.html-
<!DOCTYPE html>
<html>
<head>
<style>
p { background-color: lightyellow; } 
</style>
<link rel="stylesheet" href="style.css">
</head>
<body>

<p style="font-weight:bold;">CSS는 정말 재미있어요!</p>
<div class="notice01">공지사항 입니다.</div>
</body>
</html>

-style.css-
.notice01 {border: 2px solid green; }

 <database>
1. [개념] 기본 join 4가지 형태를 기본 예제를 통해서 기술하세요.

INNER JOIN - SELECT E.ENAME, D.DNAME FROM EMP E JOIN DEPT D ON E.DEPTNO = D.DEPTNO;
LEFT OUTER JOIN - SELECT E.ENAME, D.DNAME FROM EMP E LEFT OUTER JOIN DEPT D ON E.DEPTNO = D.DEPTNO;
RIGHT OUTER JOIN - SELECT E.ENAME, D.DNAME FROM EMP E RIGHT OUTER JOIN DEPT D ON E.DEPTNO = D.DEPTNO;
FULL OUTER JOIN - SELECT E.ENAME, D.DNAME FROM EMP E FULL OUTER JOIN DEPT D ON E.DEPTNO = D.DEPTNO;

2. [실습] 그룹에 소속된 아이돌의 명단을 출력(inner join), 

SELECT i.Name, g.GroupName
FROM Idols i INNER JOIN Groups g 
ON i.GroupID = g.GroupID;

3. [실습] '방탄소년단' 그룹에 속한 아이돌의 이름과 그룹명을 올바르게 조회하는 쿼리(inner join, where)

SELECT i.Name, g.GroupName
FROM Idols i INNER JOIN Groups g 
ON i.GroupID = g.GroupID
WHERE g.GroupName = '방탄소년단';

4. [개념] left outer join, right outer join의 궁극적인 차이점을 예제와 함께 설명하세요

LEFT OUTER JOIN -> 왼쪽 테이블의 모든 행 포함
RIGHT OUTER JOIN -> 오른쪽 테이블의 모든 행 포함

EX)
-- LEFT OUTER JOIN
SELECT i.Name, g.GroupName
FROM Idols i LEFT JOIN Groups g ON i.GroupID = g.GroupID;

-- RIGHT OUTER JOIN
SELECT i.Name, g.GroupName
FROM Idols i RIGHT JOIN Groups g ON i.GroupID = g.GroupID;


5. [실습] 그룹에 속하지 않은 솔로 가수를 찾기 위한 LEFT OUTER JOIN 쿼리로 찾아보세요.

SELECT i.Name
FROM Idols i
LEFT JOIN Groups g ON i.GroupID = g.GroupID
WHERE g.GroupName IS NULL;


6. [실습] 모든 그룹과 소속 아이돌을 조회했을 때, 결과에 포함되지 **않는** 이름은 무엇일까요?(RIGHT OUTER JOIN)

SELECT g.GroupName, i.Name
FROM Idols i
RIGHT JOIN Groups g ON i.GroupID = g.GroupID;
*NMIXX 그룹은 소속 아이돌이 없다고 뜬다.

7. [실습] 솔로 가수와 멤버 없는 그룹 정보를 한번에 알 수 있는 SQL을 처리하여 그 내용을 정리해보세요(FULL OUTER JOIN)


-- 위 연습 예제를 위하여 사용할 테이블..


-- 테이블 생성 스크립트 --
CREATE TABLE Idols (
    IdolID NUMBER PRIMARY KEY,
    Name VARCHAR2(50),
    DebutYear NUMBER,
    GroupID NUMBER,
    SunbaeID NUMBER -- 롤모델 또는 멘토 선배의 ID
);

CREATE TABLE Groups (
    GroupID NUMBER PRIMARY KEY,
    GroupName VARCHAR2(50)
);

CREATE TABLE DebutEras (
    EraName VARCHAR2(50),
    StartYear NUMBER,
    EndYear NUMBER
);


-- 데이터 입력 스크립트 --

-- Idols 테이블 데이터
INSERT INTO Idols (IdolID, Name, DebutYear, GroupID, SunbaeID) VALUES (101, 'RM', 2013, 1, NULL);
INSERT INTO Idols (IdolID, Name, DebutYear, GroupID, SunbaeID) VALUES (102, '정국', 2013, 1, 101);
INSERT INTO Idols (IdolID, Name, DebutYear, GroupID, SunbaeID) VALUES (103, '제니', 2016, 2, NULL);
INSERT INTO Idols (IdolID, Name, DebutYear, GroupID, SunbaeID) VALUES (104, '리사', 2016, 2, NULL);
INSERT INTO Idols (IdolID, Name, DebutYear, GroupID, SunbaeID) VALUES (105, '아이유', 2008, NULL, NULL); -- 솔로 가수
INSERT INTO Idols (IdolID, Name, DebutYear, GroupID, SunbaeID) VALUES (106, '카리나', 2020, 3, 103);
INSERT INTO Idols (IdolID, Name, DebutYear, GroupID, SunbaeID) VALUES (107, '윈터', 2020, 3, NULL);
INSERT INTO Idols (IdolID, Name, DebutYear, GroupID, SunbaeID) VALUES (108, '이서', 2021, 4, 105);

-- Groups 테이블 데이터
INSERT INTO Groups (GroupID, GroupName) VALUES (1, '방탄소년단');
INSERT INTO Groups (GroupID, GroupName) VALUES (2, '블랙핑크');
INSERT INTO Groups (GroupID, GroupName) VALUES (3, '에스파');
INSERT INTO Groups (GroupID, GroupName) VALUES (5, 'NMIXX'); -- 이 그룹에 속한 아이돌은 아직 Idols 테이블에 없음

-- DebutEras 테이블 데이터
INSERT INTO DebutEras (EraName, StartYear, EndYear) VALUES ('2세대', 2004, 2012);
INSERT INTO DebutEras (EraName, StartYear, EndYear) VALUES ('3세대', 2013, 2017);
INSERT INTO DebutEras (EraName, StartYear, EndYear) VALUES ('4세대', 2018, 2023);


-- 변경사항 최종 저장 --
COMMIT;

답:
SELECT g.GroupName, i.Name
FROM Idols i FULL OUTER JOIN Groups g 
ON i.GroupID = g.GroupID
WHERE i.Name IS NULL OR g.GroupName IS NULL;