> 1단계

## ✅ 1단계 학습완료 체크리스트 

### HTML
- [✅] **HTML 태그**의 기본 구조(시작 태그, 내용, 종료 태그)를 설명할 수 있는가?
- [✅] `<h1>`부터 `<h6>`까지 **제목 태그**의 차이점과 용도를 아는가?
- [✅] 수평선(`hr`)과 줄바꿈(`br`) 태그의 기능을 구분하여 사용할 수 있는가?
- [✅] `<`, `>`, `&`, ` `(공백)을 웹에 표시하기 위한 **특수문자 엔티티**를 작성할 수 있는가?
- [✅] 소스 코드의 공백과 줄바꿈을 그대로 표시하는 **`<pre>` 태그**의 용도를 이해했는가?
- [✅] 화면 전체 너비를 차지하는 **블록(Block) 요소**와 콘텐츠만큼만 차지하는 **인라인(Inline) 요소**의 차이를 설명할 수 있는가?
- [✅] 순서 있는 목록(`ol`), 순서 없는 목록(`ul`), 정의 목록(`dl`)을 각각의 목적에 맞게 만들 수 있는가?
- [✅] 웹사이트 전체 주소를 사용하는 **절대 경로**와 현재 파일을 기준으로 하는 **상대 경로**의 차이를 알고, 올바르게 링크를 걸 수 있는가?

### Oracle SQL (`emp` 테이블 기준)
- [✅] `SELECT` 문을 사용하여 `emp` 테이블의 **사원명(ename)**과 **급여(sal)** 열을 조회할 수 있는가?
- [✅] `AS` 키워드를 사용해 `sal` 열의 별칭을 **'월급'**으로 지정할 수 있는가?
- [✅] `WHERE` 절을 사용하여 `job`이 **'MANAGER'**인 사원만 필터링할 수 있는가?
- [✅] `deptno`가 20이고 `sal`이 2000 이상인 사원을 `AND`를 사용하여 조회할 수 있는가?
- [✅] `ORDER BY` 절을 사용하여 사원 목록을 `hiredate`(입사일)가 오래된 순(**오름차순**)으로 정렬할 수 있는가?
- [✅] `CREATE TABLE` 문법을 사용하여 `emp` 테이블과 유사한 구조의 `emp_backup` 테이블을 만들 수 있는가?
- [✅] `INSERT INTO ... VALUES ...` 구문을 사용하여 `emp` 테이블에 **새로운 사원 정보** 한 행을 삽입할 수 있는가?

---

## HTML & Oracle SQL 개념 정리 문제 (50문항)

### HTML (25문제)

#### **HTML 태그 기본 및 구성요소**
1.  HTML 요소(Element)를 구성하는 3가지 기본 요소를 설명하시오.
상위태그, 마지막 태그, 그 안에 하위태그

2.  HTML 태그 내에서 속성(Attribute)의 역할은 무엇이며, 어떤 형식으로 작성되는지 설명하시오.
속성은 태그의 부가 정보를 제공하며, 이름="값"형식으로 작성된다.

3.  모든 HTML 문서의 구조를 잡는 최상위 태그는 무엇이며, 문서의 기본 메타데이터를 정의하는 영역과 실제 콘텐츠를 표시하는 영역을 나누는 두 개의 핵심 태그를 설명하시오.
최상위 태그는 html이고, head가 메타데이터, body가 콘텐츠를 표시한다.

4.  내용(content)을 가지지 않는 빈 태그(Empty Tag)의 개념을 설명하고, 대표적인 예시 2가지를 드시오.
빈 태그는 내용이 없고, 닫는 태그가 없다.(/) 그리고 에시로는 문단을 나누는 br과 구분선을 추가하는 hr이 있다.

5.  `<title>` 태그의 기능과 이 태그가 HTML 문서의 어느 부분에 위치해야 하는지 설명하시오.
브라우저 탭의 제목이다. head안에 위치해야 한다.

#### **제목(h1~h6), 구분선(hr), 줄바꿈(br)**
6.  `<h1>` 태그의 의미론적(semantic) 중요성에 대해 설명하시오.
문서의 최상위 제목이고, 가장 중요한 제목(대표제목)을 나타날때 사용한다.

7.  `<h1>`부터 `<h6>` 태그까지의 관계는 무엇이며, 검색 엔진 최적화(SEO) 관점에서 이들의 올바른 사용법은 무엇인지 설명하시오.
폰트 사이즈에 따라 달라진다. 6으로 갈수록 사이즈가 작아진다. h1->h6 계층적 구조 순서대로 유지해야 검색엔진의 가독성이 올라간다.

8.  `<hr>` 태그의 시각적 효과와 의미론적 역할을 설명하시오.
html에 구분선을 추가한다. 주제나 문단을 구분할 때 사용

9.  `<p>` 태그 내에서 단순히 줄만 바꾸고 싶을 때 `<br>` 태그를 사용하는 이유를 설명하시오.
p는 문단 단위로 나뉘는 거여서 줄만 바꾸고 싶을 때에는 br태그를 사용하는 것이 좋다.

#### **특수문자 엔티티 및 pre 태그**
10. HTML 문서 내에서 `<`, `>`, `&` 와 같은 문자를 브라우저가 태그가 아닌 일반 문자로 인식하게 하려면 어떻게 해야 하는지, 그 방법(문자 엔티티)의 개념을 설명하시오.
<, >, &를 일반 문자로 인식하게 하려면 특수문자 엔티티를 사용해야 한다. &lt;, &gt;, &amp; 와 같은 문자를 대체로 사용하는 것이다.

11. 웹 페이지에서 여러 개의 공백(space)을 연속으로 입력해도 왜 한 칸으로만 표시되는지 설명하고, 이를 해결하기 위한 문자 엔티티를 제시하시오.
HTML에서 공백은 &nbsp; 엔티티를 사용하여 연속으로 공백 추가할 수 있다.

12. `<pre>` 태그가 일반적인 HTML 태그와 구별되는 가장 큰 특징은 무엇이며, 어떤 상황에서 유용하게 사용되는지 설명하시오.
pre태그로 감싸면 어떤 내용이 들어가든 문자 그대로 보여준다. 코드나 이모티콘 같은 레이아웃을 유지할 때 유용하다. 

#### **인라인(Inline) / 블록(Block) 요소**
13. 인라인(Inline) 요소의 2가지 주요 특징을 설명하시오.
콘텐츠 크기만큼만 공간을 차지하고, 옆에 다른 요소를 배치 가능하다.

14. 블록(Block) 요소의 2가지 주요 특징을 설명하시오.
화면 가로 전체를 차지하고, 자동으로 줄바꿈이 된다.

15. `<span>` 태그와 `<div>` 태그를 각각 인라인/블록 요소로 구분하고, 각각의 주된 용도를 비교하여 설명하시오.
span태그는 인라인이고, 부분적으로 스타일을 적용하는 반면, div태그는 블록이고, 레이아웃을 구분하는데 사용한다.

16. 블록 요소 안에 인라인 요소를 넣는 것과 인라인 요소 안에 블록 요소를 넣는 것 중, HTML 표준에 맞는 방식은 무엇인지 설명하시오.
블록 요소 안에 인라인 요소를 포함하는 것이 표준에 맞는 방식이다. 

#### **목록(ol, ul, dl) 태그**
17. 순서가 중요한 목록을 작성할 때 사용하는 `<ol>` 태그의 구조를 설명하시오.
ol태그로 li태그들을 감싼다.

18. 순서가 중요하지 않은 목록을 작성할 때 사용하는 `<ul>`과 `<li>` 태그의 관계를 설명하시오.
ul로 li로 작성한 내부 항목들을 감싼다.

19. 용어와 그에 대한 설명을 정의하는 목록을 만들고 싶을 때 어떤 태그들을 조합하여 사용해야 하는지 설명하시오.
dl, dt, dd를 사용하면 설명을 정의하는데 유용하다.

20. `<ol>` 태그의 목록 마커(marker)를 기본 숫자가 아닌 다른 형태(예: 알파벳, 로마 숫자)로 바꾸려면 어떤 속성을 사용해야 하는가?
type속성을 사용한다. <ol type="A">, <ol type="I">

#### **절대/상대 경로**
21. 절대 경로(Absolute Path)의 개념은 무엇이며, 어떤 경우에 주로 사용되는지 설명하시오.
절대 경로는 변하지 않는 고정 경로이고, 외부 사이트 링크나 고정된 자원 참조시 사용된다.

22. 상대 경로(Relative Path)의 개념은 무엇이며, 어떤 장점을 가지는지 설명하시오.
상대 경로는 현재 문서 위치 기준으로 경로를 작성하고, 사이트를 이동할 때 작성하는 경로를 최소화 할 수 있다.

23. 상대 경로에서 `./` 기호가 의미하는 바는 무엇인가?
현재 폴더

24. 현재 위치의 상위 폴더에 있는 파일을 참조하고 싶을 때 상대 경로에서 어떤 기호를 사용해야 하는가?
../

25. `/`로 시작하는 경로는 절대 경로인가, 상대 경로인가? 그 이유는 무엇인가?
절대 경로이다. 서버 루트 기준의 고정된 경로이기 떄문이다. 

---

### Oracle SQL (25문제)

#### **SELECT 문**
26. 테이블의 특정 컬럼이 아닌 모든 컬럼의 데이터를 조회할 때 사용하는 기호(`*`)의 의미와 사용법을 설명하시오.
모든 커럶을 조회할 때 SELECT * 이런식으로 사용한다. 

27. `SELECT` 절에서 조회할 특정 컬럼들을 나열하는 기본 문법을 설명하시오.
SELECT 컬럼1, 컬럼2 FROM 테이블명;

28. 조회 결과의 컬럼 이름을 원래의 이름이 아닌 다른 이름으로 보여주고 싶을 때 사용하는 별칭(Alias) 지정 방법을 설명하시오.
AS 키워드를 사용한다. (생량 가능) EX) SELECT SAL as SALARY

29. 특정 컬럼의 데이터에 중복된 값이 많을 때, 중복을 제거하고 고유한 값들만 조회하기 위해 사용하는 키워드는 무엇이며, 어떻게 사용하는지 설명하시오.
DISTINCT EX) SELECT DISTINCT JOB

30. `SELECT` 절에서 산술 연산자(+, -, *, /)를 사용하여 기존 컬럼의 값을 가공하거나 계산한 결과를 새로운 컬럼처럼 조회하는 방법을 설명하시오.
SELECT SAL*12 연봉 이런식으로 사용 가능

#### **WHERE 절**
31. `WHERE` 절의 역할은 무엇이며, SQL 쿼리에서 어느 부분에 위치하는지 설명하시오.
조건을 필터링하는 역할을 한다. FROM 뒤에 위치

32. `WHERE` 절에서 사용되는 비교 연산자(예: `>`, `<`, `=`)의 종류와 역할을 설명하시오.
=, >, <, >=, <= 조건식을 만들 때 사용한다. (같다, 크다, 작다, 크거나 같다, 작거나 크다 등등)

33. `WHERE` 절에서 문자열 값을 비교 조건으로 사용할 때, 값의 양쪽에 어떤 기호를 붙여야 하는지 설명하시오.
작은 따옴표를 사용해야한다. 

34. 두 개 이상의 조건을 동시에 만족하는 데이터를 찾을 때 사용하는 논리 연산자(`AND`)의 사용법을 설명하시오.
WHERE 조건문 AND 조건문으로 사용

35. 두 개 이상의 조건 중 하나라도 만족하는 데이터를 찾을 때 사용하는 논리 연산자(`OR`)의 사용법을 설명하시오.
WHERE 조건문 OR 조건문으로 사용

36. 특정 컬럼의 값이 비어있는지(NULL) 여부를 확인할 때 `=` 연산자 대신 `IS NULL` 또는 `IS NOT NULL`을 사용해야 하는 이유를 설명하시오.
NULL은 값이 아니기 때문에 =연산자로는 표시할 수 없다.

37. `LIKE` 연산자는 어떤 경우에 사용되며, 모든 문자를 의미하는 와일드카드 `%`와 한 글자를 의미하는 `_`의 차이점을 설명하시오.
LIKE 연산자는 와일드카드를 사용하여 특정 값을 조회하는데 사용한다. %는 임의 길이의 문자열을 대체하는거고, _는 한 글자만 대체한다.

38. `ENAME`이 'J'로 시작하고 'n'으로 끝나는 직원을 찾는 `WHERE` 절 조건을 `LIKE`를 사용하여 작성하시오.
WHERE ENAME LIKE 'j%n'

#### **ORDER BY 절**
39. `ORDER BY` 절의 역할은 무엇이며, 데이터를 정렬하는 기본 방식(오름차순)을 설명하시오.
결과를 정렬할 떄 사용한다. ASC(오름차순)가 기본 방식이고, ORDER BY SAL ASC 이런식으로 사용

40. 데이터를 내림차순(큰 값부터 작은 값 순서로)으로 정렬하기 위해 `ORDER BY` 절에 추가해야 하는 키워드는 무엇인가?
DESC

41. 여러 컬럼을 기준으로 다중 정렬을 할 때, `ORDER BY` 절에 컬럼을 나열하는 순서가 어떤 의미를 갖는지 설명하시오.
앞에 나열된 컬럼 기준 먼저 정렬하고, 결과값이 같을 시 뒤의 컬럼 기준으로 정렬한다.

42. `SELECT`, `FROM`, `WHERE`, `ORDER BY` 절의 일반적인 실행 순서를 설명하시오.
FROM -> WHERE -> SELECT -> ORDER BY

43. 컬럼 이름 대신 `SELECT` 절에 나열된 컬럼의 순서(번호)를 사용하여 정렬하는 방법의 장단점을 설명하시오.
장점: 작성이 간단하다. 단점: 컬럼의 순서가 변경 될 시 오류 가능성이 있다

#### **테이블 생성 기초 및 입력(INSERT)**
44. 새로운 테이블을 생성하는 `CREATE TABLE` 문의 기본 구조(명령어, 테이블명, 컬럼 정의)를 설명하시오.
CREATE TABLE 테이블명 (
    컬럼명 데이터타입,
    ...
);

45. 테이블의 컬럼을 정의할 때 데이터 타입(예: `VARCHAR2`, `NUMBER`, `DATE`)을 지정해야 하는 이유를 설명하시오.
데이터의 무결성을 보장하고, 어떤 형식인지 지정하고, 사이즈를 지정하면 저장공간을 효율적으로 사용할 수 있다.

46. `INSERT INTO` 문의 역할은 무엇이며, 어떤 두 가지 기본 작성 형식이 있는지 설명하시오.
INSERT INTO는 테이블에 값을 넣을 때 사용한다.
1. 컬럼명 지정 + 값(지정한 컬럼에만 값 입력, 나머진 NULL)
INSERT INTO EMP(EMPNO, ENAME) VALUES (1, 'KING');
2. 컬럼명 생략 -> 모든 컬럼 순서대로 값 입력
INSERT INTO EMP VALUES(1, 'KING', 'PRESIDENT', ...);

47. `INSERT` 문을 사용하여 테이블의 특정 컬럼에만 값을 넣으려고 할 때, 쿼리를 어떻게 작성해야 하는지 설명하시오.
INSERT INTO EMP(ENAME, SAL) VALUES ('JONES', 3000);

48. `students` 테이블에 `student_id`, `student_name`, `entry_date` 컬럼이 있을 때, 새로운 학생 데이터를 추가하는 `INSERT` SQL문을 작성하시오. (값은 자유롭게 지정)
INSERT INTO students (student_id, student_name, entry_date) VALUES (1001, 'Alice', SYSDATE);

49. Oracle에서 가변 길이 문자열 데이터를 저장하기에 가장 적합한 데이터 타입은 무엇인가?
VARCHAR2

50. `CREATE TABLE` 문에서 각 컬럼을 정의할 때, `NOT NULL` 제약조건을 추가하면 어떤 효과가 있는지 설명하시오. 
NOT NULL 제약 조건을 추가하면 해당 컬럼에 반드시 값이 들어가야한다.

> 2단계


### Part 1. HTML: (25문제)

### **Part 1: 기본 태그와 구조 뼈대 잡기** 뼈

1.  **나만의 프로필 페이지 만들기**
    `<h1>` 태그로 당신의 이름을, `<h2>` 태그로 "취미"와 "좋아하는 음식"이라는 소제목을, 각 소제목 아래에 `<p>` 태그로 간단한 소개 글을 작성하여 `index.html` 파일을 만들어 보세요.
<!DOCTYPE html>
<html>
<head>
  <title>나의 프로필</title>
</head>
<body>
  <h1>임혜빈</h1>
  <h2>취미</h2>
  <p>저는 음악 듣기를 좋아합니다.</p>
  <h2>좋아하는 음식</h2>
  <p>라면과 떡볶이를 좋아합니다.</p>
</body>
</html>


2.  **최애 레시피 페이지 만들기**
    `<h1>` 태그로 음식 이름을 정하고, `<h2>` 태그로 "필요한 재료"와 "만드는 순서"라는 두 개의 소제목을 만들어 레시피 페이지의 기본 구조를 잡아보세요.
<h1>김치찌개</h1>
<h2>필요한 재료</h2>
<h2>만드는 순서</h2>

3.  **내용에 구분선 추가하기**
    위에서 만든 레시피 페이지의 "필요한 재료" 섹션과 "만드는 순서" 섹션 사이에 주제를 전환한다는 의미로 수평선 `<hr>` 태그를 넣어 시각적으로 분리해 보세요.
<h2>필요한 재료</h2>
<hr>
<h2>만드는 순서</h2>


4.  **아름다운 시 페이지 만들기**
    좋아하는 시를 찾아 `<p>` 태그 안에 작성해 보세요. 이때, 시의 각 행이 끝날 때마다 `<br>` 태그를 사용하여 의도적으로 줄바꿈이 일어나도록 코드를 작성해 보세요.
<p>
  내가 그의 이름을 불러주었을 때<br>
  그는 나에게로 와서 꽃이 되었다<br>
</p>

5.  **블로그 포스트 구조화하기**
    `<h1>`(글의 대주제), `<h2>`(문단 제목), `<h3>`(문단 속 소주제)를 차례대로 사용하여 글의 위계질서를 표현하는 블로그 글의 뼈대를 만들어 보세요.
<h1>여행 블로그</h1>
<h2>파리 여행기</h2>
<h3>에펠탑 방문</h3>


-----

### **Part 2: 특별한 텍스트 표현하기** ✍️

6.  **HTML 태그를 설명하는 글쓰기**
    웹 페이지에 `<p> 태그는 문단을 만드는 데 사용됩니다.` 라는 문장을 그대로 표시해 보세요. `<`와 `>`가 태그로 인식되지 않도록 **특수문자 엔티티**를 사용해야 합니다.
    <p>&lt;p&gt; 태그는 문단을 만드는 데 사용됩니다.</p>

7.  **웹 페이지에 저작권 표시하기**
    페이지 가장 하단에 "© 2025 내 이름. All Rights Reserved." 문구를 추가해 보세요. 저작권 기호(©)는 **`&copy;`** 엔티티를 사용해야 합니다.
    <p>&copy; 2025 임혜빈. All Rights Reserved.</p>

8.  **의도적으로 공백 많이 넣기**
    "단어와   단어 사이" 처럼, 특정 단어들 사이에 스페이스바 한 번 이상의 공백을 3칸 넣어 보세요. 공백 한 칸을 의미하는 \*\*`&nbsp;`\*\*를 사용해야 합니다.
    <p>단어와&nbsp;&nbsp;&nbsp;단어 사이</p>

9.  **내가 짠 코드 자랑하기**
    간단한 코드를 `<pre>` 태그로 감싸서 웹 페이지에 표시해 보세요. 코드의 들여쓰기와 여러 칸의 공백이 그대로 살아있는 것을 확인할 수 있을 겁니다.

    <pre>
      function sayHello() {
        console.log("Hello, World!");
      }
    </pre>

10. **아스키 아트로 이모티콘 만들기**
    `<pre>` 태그를 사용하면 글자 위치가 고정되는 특징을 이용해 키보드 문자로 귀여운 동물이나 이모티콘 아스키 아트를 만들어 보세요. `(^.^)`
<pre>
  ( \_/ )
   (o o)
  (  -  )
</pre>

-----

### **Part 3: 목록으로 정보 정리하기** 📋

11. **나만의 버킷 리스트 만들기**
    순서가 중요하지 않은 `<ul>` 태그와 그 안의 `<li>` 태그를 사용하여 "해외여행 가기", "코딩으로 웹사이트 만들기" 등 당신의 버킷 리스트 3가지를 작성해 보세요.
<ul>
  <li>해외여행 가기</li>
  <li>코딩으로 웹사이트 만들기</li>
  <li>책 100권 읽기</li>
</ul>


12. **내 인생 영화 TOP 3**
    순서가 중요한 `<ol>` 태그와 `<li>` 태그를 사용하여 당신이 가장 좋아하는 영화 1위부터 3위까지 순서가 매겨진 목록을 만들어 보세요.
<ol>
  <li>인셉션</li>
  <li>인터스텔라</li>
  <li>어벤져스</li>
</ol>


13. **체계적인 여행 계획 짜기**
    `<ul>` 태그로 "유럽 여행 계획" 목록을 만들고, 그 안의 `<li>` 항목인 "준비물" 내부에 또 다른 `<ul>` 태그를 넣어 "여권", "상비약" 등 하위 목록을 만드는 **중첩 목록**을 작성해 보세요.
<ul>
  <li>유럽 여행 계획
    <ul>
      <li>준비물
        <ul>
          <li>여권</li>
          <li>상비약</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>


14. **미니 용어 사전 만들기**
    `<dl>` 태그를 사용하여 용어와 설명을 정리해 보세요. `<dt>`에는 "HTML", `<dd>`에는 "웹 페이지의 뼈대를 구성하는 마크업 언어"와 같이 용어와 설명을 짝지어 보세요.
<dl>
  <dt>HTML</dt>
  <dd>웹 페이지의 뼈대를 구성하는 마크업 언어</dd>
</dl>


15. **나만의 카페 메뉴판 만들기**
    `<dl>` 태그를 활용하여 `<dt>`에는 "아메리카노", `<dd>`에는 "에스프레소에 물을 더한 깔끔한 커피"와 같이 메뉴 이름과 설명을 짝지어 간단한 메뉴판을 만들어 보세요.
<dl>
  <dt>아메리카노</dt>
  <dd>에스프레소에 물을 더한 깔끔한 커피</dd>
</dl>

-----

### **Part 4: 블록과 인라인 이해하기** 🧱

16. **문장 속 핵심 단어 강조하기**
    `<p>` 태그로 작성된 문장 안에서, 가장 중요하다고 생각하는 단어 하나만 `<strong>` 태그(인라인 요소)로 감싸서 굵게 표시해 보세요.
<p>저는 <strong>프로그래밍</strong>을 좋아합니다.</p>


17. **`div`와 `span`의 차이점 실험하기**
    `<div>안녕하세요</div>`와 `<span>반갑습니다</span>`를 각각 작성해 보세요. `<div>`는 한 줄을 전부 차지하고(블록), `<span>`은 자기 크기만큼만 차지하는(인라인) 차이점을 눈으로 확인해 보세요.
<div>안녕하세요</div>
<span>반갑습니다</span>


18. **문장 안에 링크 걸기**
    "더 많은 정보는 [구글]에서 찾아보세요." 라는 문장을 작성하고, '[구글]'이라는 단어를 `<a>` 태그(인라인 요소)로 감싸 `https://google.com`으로 이동하는 링크를 만들어 보세요.
<p>더 많은 정보는 <a href="https://google.com">구글</a>에서 찾아보세요.</p>


19. **블록 요소들의 행진**
    `<h1>`, `<p>`, `<ul>`, `<div>` 태그를 순서대로 작성하고 각각의 태그에 내용을 채워보세요. 브라우저에서 각 요소가 자동으로 줄바꿈되어 차곡차곡 쌓이는 것을 확인하며 블록 요소의 특징을 느껴보세요.
<h1>제목</h1>
<p>내용 단락</p>
<ul>
  <li>항목 1</li>
</ul>
<div>추가 블록</div>


20. **인라인 요소들의 행렬**
    한 줄에 이어서 `<a>` 링크, `<strong>` 굵은 글씨, `<em>` 기울임 글씨를 차례대로 작성해 보세요. 이 요소들이 줄바꿈 없이 한 줄에 나란히 표시되는 것을 확인하며 인라인 요소의 특징을 느껴보세요.
<a href="#">링크</a>
<strong>굵게</strong>
<em>기울임</em>

-----

### **Part 5: 파일 경로 마스터하기** 🗺️

(아래 4개의 문제는 다음과 같은 폴더 구조를 상상하고 풀어보세요.)

```
my_project/
├── index.html
├── pages/
│   └── about.html
└── images/
    └── profile.jpg
```

21. **(index.html에서) 소개 페이지로 이동하기**
    `index.html` 파일에서, `pages` 폴더 안에 있는 `about.html`로 이동하는 `<a>` 태그를 **상대 경로**를 사용하여 만들어 보세요.
<a href="pages/about.html">소개 페이지</a>

22. **(index.html에서) 프로필 이미지 보여주기**
    `index.html` 파일에서, `images` 폴더 안에 있는 `profile.jpg`를 표시하는 `<img>` 태그를 **상대 경로**를 사용하여 만들어 보세요.
<img src="images/profile.jpg" alt="프로필 사진">

23. **(about.html에서) 메인 페이지로 돌아가기**
    `pages/about.html` 파일에서, 상위 폴더에 있는 `index.html`로 돌아가는 `<a>` 태그를 **상대 경로**(`../`)를 사용하여 만들어 보세요.
<a href="../index.html">메인 페이지</a>

24. **(about.html에서) 다른 폴더의 이미지 보여주기**
    `pages/about.html` 파일에서, 상위 폴더로 나갔다가 `images` 폴더로 들어가야 보이는 `profile.jpg`를 `<img>` 태그로 표시해 보세요. 경로를 어떻게 조합해야 할지 고민해 보세요. (`../images/profile.jpg`)
<img src="../images/profile.jpg" alt="프로필 사진">

25. **(아무 곳에서나) 웹에 있는 이미지 가져오기**
    웹서핑 중 마음에 드는 이미지의 주소를 복사하여 `<img>` 태그의 `src` 속성에 넣어보세요. `https://`로 시작하는 이 주소가 바로 **절대 경로**입니다.
<img src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fst3.depositphotos.com%2F5505850%2F15512%2Fi%2F450%2Fdepositphotos_155121486-stock-photo-one-gray-rabbit.jpg&type=ff332_332" alt="토끼">



### Part 2. Oracle SQL: 마법 도서관 데이터베이스 관리 (25문제)

**[사용할 테이블: `BOOKS`]**
* `BOOK_ID` (NUMBER, PK) - 책 ID
* `TITLE` (VARCHAR2) - 책 제목
* `AUTHOR` (VARCHAR2) - 저자
* `GENRE` (VARCHAR2) - 장르 (예: '마법약', '어둠의 마법', '역사')
* `PUBLISH_YEAR` (NUMBER) - 출판 연도

-- 실습을 위한 테이블이 이미 존재할 경우를 대비하여 삭제하는 구문입니다.
-- (오류가 발생해도 무시하고 다음을 진행하세요.)
DROP TABLE BOOKS;

-- 문제 풀이에 사용할 BOOKS 테이블을 생성합니다.
CREATE TABLE BOOKS (
    BOOK_ID         NUMBER(4)       PRIMARY KEY,
    TITLE           VARCHAR2(100)   NOT NULL,
    AUTHOR          VARCHAR2(50)    NOT NULL,
    GENRE           VARCHAR2(30),
    PUBLISH_YEAR    NUMBER(4)
);

-- 문제 풀이에 필요한 예제 데이터를 한 줄씩 입력합니다.
INSERT INTO BOOKS (BOOK_ID, TITLE, AUTHOR, GENRE, PUBLISH_YEAR) VALUES (101, '고급 마법약 제조', '리바티우스 보레이지', '마법약', 1952);
INSERT INTO BOOKS (BOOK_ID, TITLE, AUTHOR, GENRE, PUBLISH_YEAR) VALUES (102, '어둠의 마법: 기원과 몰락', '갈라테아 메리소트', '어둠의 마법', 1789);
INSERT INTO BOOKS (BOOK_ID, TITLE, AUTHOR, GENRE, PUBLISH_YEAR) VALUES (103, '호그와트의 역사', '바틸다 백셧', '역사', 1881);
INSERT INTO BOOKS (BOOK_ID, TITLE, AUTHOR, GENRE, PUBLISH_YEAR) VALUES (104, '변신술의 이해', '알버스 덤블도어', '변신술', 1927);
INSERT INTO BOOKS (BOOK_ID, TITLE, AUTHOR, GENRE, PUBLISH_YEAR) VALUES (105, '죽음을 먹는 자들의 비밀 의식', '익명의 저자', '어둠의 마법', 1750);
INSERT INTO BOOKS (BOOK_ID, TITLE, AUTHOR, GENRE, PUBLISH_YEAR) VALUES (106, '마법 세계의 연대기', '켄티우스 버크', '역사', 1985);
INSERT INTO BOOKS (BOOK_ID, TITLE, AUTHOR, GENRE, PUBLISH_YEAR) VALUES (107, '초보자를 위한 마법약', '피그 교수', '마법약', 1991);
INSERT INTO BOOKS (BOOK_ID, TITLE, AUTHOR, GENRE, PUBLISH_YEAR) VALUES (108, '용의 피의 열두 가지 사용법', '알버스 덤블도어', '연구', 1966);





**[26~30: 데이터 조회하기 (SELECT)]**

**26. 문제:** `BOOKS` 테이블에 있는 모든 책의 모든 정보를 조회하는 SQL문을 작성하세요.
SELECT *
FROM BOOKS;

**27. 문제:** `BOOKS` 테이블에서 모든 책의 '제목(`TITLE`)'과 '저자(`AUTHOR`)' 정보만 보고 싶습니다. 어떤 SQL문을 작성해야 할까요?
SELECT TITLE, AUTHOR
FROM BOOKS;

**28. 문제:** `BOOKS` 테이블에 어떤 '장르(`GENRE`)'의 책들이 있는지 중복을 제거하고 한 번씩만 보고 싶습니다. 어떤 키워드를 사용해야 할까요?
SELECT DISTINCT GENRE 
FROM BOOKS;

**29. 문제:** `SELECT` 문에서 `*` (별표)는 무엇을 의미하나요?
모든 컬럼

**30. 문제:** `SELECT`와 `FROM` 키워드 사이에 원하는 '컬럼 이름'을 나열한다는 것을 알았습니다. `FROM` 키워드 뒤에는 무엇이 와야 할까요?
테이블 이름

---
**[31~35: 조건에 맞는 데이터 찾기 (WHERE)]**

**31. 문제:** `BOOKS` 테이블에서 장르(`GENRE`)가 '마법약'인 책들만 찾아보세요.
SELECT *
FROM BOOKS
WHERE GENRE = '마법약';

**32. 문제:** 1900년 이전에 출판된(`PUBLISH_YEAR`) 오래된 책들을 모두 찾아보세요.
SELECT *
FROM BOOKS
WHERE PUBLISH_YEAR < 1900;

**33. 문제:** 저자(`AUTHOR`)가 '알버스 덤블도어'가 **아닌** 모든 책을 찾아보세요.
SELECT *
FROM BOOKS
WHERE AUTHOR <> '알버스 덤블도어';

**34. 문제:** 장르(`GENRE`)가 '어둠의 마법'이면서, 1800년 이전에 출판된 책을 찾아보세요. (두 조건을 모두 만족)
SELECT *
FROM BOOKS
WHERE GENRE = '어둠의 마법' AND PUBLISH_YEAR <1800;

**35. 문제:** 장르(`GENRE`)가 '역사'이거나, 저자(`AUTHOR`)가 '바틸다 백셧'인 책을 모두 찾아보세요. (둘 중 하나만 만족해도 됨)
SELECT *
FROM BOOKS
WHERE GENRE = '역사' OR AUTHOR = '바틸다 백셧'; 

---
**[36~40: 결과 정렬하기 (ORDER BY)]**

**36. 문제:** `BOOKS` 테이블의 모든 책을 '제목(`TITLE`)'의 가나다순으로 정렬해서 보여주세요.
SELECT * 
FROM BOOKS
ORDER BY TITLE ASC;

**37. 문제:** `BOOKS` 테이블의 모든 책을 가장 최근에 출판된 순서(`PUBLISH_YEAR`)로 정렬해서 보여주세요.
SELECT *
FROM BOOKS
ORDER BY PUBLISH_YEAR DESC;

**38. 문제:** `ORDER BY` 절에서 `DESC` 키워드는 무엇을 의미하나요?
내림차순으로 정렬

**39. 문제:** 장르별로 먼저 정렬하고, 같은 장르 내에서는 출판 연도가 오래된 순으로 정렬하고 싶습니다. 어떻게 작성해야 할까요?
SELECT *
FROM BOOKS
ORDER BY GENRE, PUBLISH_YEAR ASC;

**40. 문제:** SQL 문에서 `WHERE` 절과 `ORDER BY` 절은 어떤 순서로 작성해야 할까요?
WHERE -> ORDER BY

---
**[41~45: 테이블 만들기 (CREATE TABLE)]**

**41. 문제:** 학생(`STUDENTS`) 정보를 담을 테이블을 만들려고 합니다. '학번(`STUDENT_ID`)'과 '이름(`STUDENT_NAME`)' 두 개의 컬럼을 갖는 테이블 생성 SQL문을 작성하세요. (데이터 타입은 임의로 지정)
CREATE TABLE STUDENTS (
  STUDENT_ID NUMBER(4),
  STUDENT_NAME VARCHAR2(50)
);

**42. 문제:** 테이블의 컬럼을 정의할 때, '숫자' 데이터를 저장하기 위해 주로 사용하는 데이터 타입은 무엇인가요?
NUMBER

**43. 문제:** '문자열' 데이터를 저장하기 위해 주로 사용하는 데이터 타입은 무엇인가요? (가변 길이)
VARCHAR2

**44. 문제:** 학생의 '학번'처럼, 테이블의 각 행(row)을 고유하게 식별하며 중복과 NULL 값을 허용하지 않는 특별한 키를 무엇이라고 할까요?
PRIMARY KEY(기본 키)

**45. 문제:** `STUDENT_ID` 컬럼을 기본 키로 지정하는 `CREATE TABLE` 문을 작성해보세요.
CREATE TABLE STUDENTS(
  STUDENT_ID NUMBER(4) PRIMARY KEY,
  STUDENT_NAME VARCHAR2(50)
)

---
**[46~50: 데이터 입력하기 (INSERT INTO)]**

**46. 문제:** `STUDENTS` 테이블에 학번이 101이고 이름이 '해리 포터'인 학생을 추가하는 SQL문을 작성하세요.
INSERT INTO STUDENTS (STUDENT_ID, STUDENT_NAME) VALUES (101, '해리 포터');

**47. 문제:** `INSERT INTO` 문에서 `VALUES` 키워드 다음 괄호 안에는 무엇이 들어가야 하나요?
삽입할 값

**48. 문제:** `BOOKS` 테이블에 `BOOK_ID`가 205, `TITLE`이 '신비한 동물 사전'인 책을 추가하려고 합니다. (다른 컬럼 값은 모름)
INSERT INTO BOOKS (BOOK_ID, TITLE) VALUES (205, '신비한 동물 사전');

**49. 문제:** `INSERT` 문을 작성할 때, `VARCHAR2` 타입의 데이터(문자열)는 어떤 기호로 감싸주어야 하나요?
작은 따옴표('')

**50. 문제:** 실수로 데이터를 잘못 `INSERT` 했습니다. 이 작업을 포함하여 아직 확정(COMMIT)되지 않은 변경 사항을 되돌리는 명령어는 무엇일까요?
ROLLBACK;

> 3단계

## 🚀 Cosmic Library 2.0: 고급 기능 개발 (고난도 50문제)

### **Phase 1: 관계형 데이터베이스 설계 및 시맨틱 HTML 구조화 (1~10번)**

데이터의 무결성을 보장하기 위해 테이블 간의 관계를 설정하고, 웹 페이지의 의미를 명확히 하는 시맨틱(Semantic) 구조를 설계합니다.

#### **Oracle SQL: 제약조건을 이용한 고급 테이블 설계**
1.  `STAR_SYSTEMS` 테이블을 생성, `system_id`가 **고유한 식별자(기본 키)** 역할을 하도록 `PRIMARY KEY`
     제약조건을 추가하여  생성하는 `CREATE TABLE` 문을 작성하세요.
CREATE TABLE STAR_SYSTEMS (
    system_id NUMBER PRIMARY KEY,
    system_name VARCHAR2(100) NOT NULL,
    galaxy VARCHAR2(100)
);


2.  `PLANETS` 테이블을 `PRIMARY KEY`(`planet_id`)와 **외래 키(FOREIGN KEY)** 제약조건을 포함하여 다시 생성하세요. `system_id` 컬럼이 `STAR_SYSTEMS` 테이블의 `system_id`를 참조하도록 설정해야 합니다. 이 외래 키 설정이 데이터 무결성에 어떤 중요한 역할을 하는지 설명하세요.
CREATE TABLE PLANETS (
    planet_id NUMBER PRIMARY KEY,
    planet_name VARCHAR2(100) NOT NULL,
    system_id NUMBER,
    population NUMBER,
    discovery_date DATE,
    CONSTRAINT fk_system FOREIGN KEY (system_id) REFERENCES STAR_SYSTEMS(system_id)
);


3.  `SPECIES` 테이블을 재생성하되, `species_name` 컬럼은 **절대 비어 있으면 안 되도록** `NOT NULL` 제약조건을 추가하고, `species_id`를 `PRIMARY KEY`로 설정하세요.
CREATE TABLE SPECIES (
    species_id NUMBER PRIMARY KEY,
    species_name VARCHAR2(100) NOT NULL,
    home_planet NUMBER,
    tech_level NUMBER
);


4.  `PRIMARY KEY` 제약조건이 설정된 `STAR_SYSTEMS` 테이블에 동일한 `system_id` (예: 1)를 가진 데이터를 두 번 `INSERT` 하려고 시도하면, Oracle 데이터베이스는 어떤 오류를 반환하며 그 이유는 무엇인지 설명하세요.
ORA-00001: unique constraint (테이블명.PK제약조건) violated
PRIMARY KEY는 고유해야하기 때문이다. (한 번만 가능)

5.  `FOREIGN KEY` 관계가 설정된 후, `STAR_SYSTEMS` 테이블에 존재하지 않는 `system_id` (예: 99)를 가진 행성 데이터를 `PLANETS` 테이블에 `INSERT` 하려고 하면 어떤 결과가 발생하는지 설명하세요.
ORA-02291: integrity constraint (테이블명.FK제약조건) violated - parent key not found
관계 설정 후 STAR_SYSTEM에 존재하지 않는 데이터를 삽입하려 하면 오류가 뜬다.

#### **HTML: 시맨틱 구조 설계 및 고급 경로 설정**
6.  `index.html`의 구조를 단순 `<div>`가 아닌, 웹 페이지의 의미를 명확히 나타내는 **시맨틱 태그**(`<header>`, `<nav>`, `<main>`, `<footer>`)를 사용하여 재구성하세요. 각 태그가 어떤 역할을 하는지 주석으로 설명하세요.
<header>
  <!-- 페이지 제목, 로고 -->
  <h1>Cosmic Library</h1>
</header>

<nav>
  <!-- 메뉴 -->
  <a href="planets.html">Planets</a>
  <a href="species.html">Species</a>
</nav>

<main>
  <!-- 메인 콘텐츠 -->
  <h2>Welcome to the Cosmic Library</h2>
  <p>Explore the universe of stars, planets, and species.</p>
</main>

<footer>
  <!-- 저작권, 연락처 -->
  <p>&copy; 2025 Cosmic Library</p>
</footer>


7.  `planets.html` 페이지 내부에 '개요', '주요 행성', '탐사 기록' 세 개의 섹션을 만들려고 합니다. 각 섹션을 `<section>` 태그로 나누고, 각각 `id="overview"`, `id="major-planets"`, `id="logs"` 라는 **id 속성**을 부여하세요.
<section id="overview">
  <h2>개요</h2>
</section>

<section id="major-planets">
  <h2>주요 행성</h2>
</section>

<section id="logs">
  <h2>탐사 기록</h2>
</section>


8.  페이지 상단의 `<nav>` 메뉴에서 '주요 행성' 메뉴를 클릭하면 같은 페이지 내의 '주요 행성' 섹션으로 바로 스크롤되도록 링크(`<a>`)를 만들어 보세요. (`href` 속성값을 어떻게 설정해야 할까요?)
<a href="#major-planets">주요 행성</a>


9.  프로젝트 폴더 구조가 다음과 같다고 가정합니다: `cosmic-library/pages/planets/details.html`. 이 `details.html` 파일에서 **루트 폴더(`cosmic-library`)** 에 있는 `images/galaxy.jpg` 파일을 참조하려면 상대 경로를 어떻게 작성해야 할까요?
<img src="../../images/galaxy.jpg" alt="Galaxy">

10.  웹 페이지의 특정 문단(예: `<p>`)이나 제목(예: `<h2>`)에 나중에 CSS로 특별한 스타일을 적용하기 위해 그룹으로 묶고 싶을 때 사용하는 공통 속성은 무엇인가요? (`id`와의 차이점을 간략히 설명하세요.)
그룹으로 묶고 싶을 때 사용하는 공통 속성은 class이다.
class 속성: 여러 요소를 그룹으로 묶어 동일 스타일 적용.
id: 페이지 내에서 유일해야 하며 특정 요소를 구분.

---

### **Phase 2: 데이터 무결성 테스트 및 복합 데이터 입력 (11~20번)**

설계된 제약조건이 잘 작동하는지 테스트하고, 더 복잡한 형태의 데이터를 입력하는 방법을 익힙니다.

#### **Oracle SQL: 제약조건 테스트 및 데이터 함수 활용**
11. 외계 종족 '그레이(Greys)'의 정보를 `SPECIES` 테이블에 `INSERT` 하세요. 이때 종족 이름(`species_name`)에 작은따옴표가 포함된 'Visitor's Friend' 라는 별명을 문자열 안에 포함시키려면 어떻게 쿼리를 작성해야 하는지 보여주세요.
INSERT INTO SPECIES (species_id, species_name, alias)
VALUES (201, 'Greys', 'Visitor''s Friend');

12. Oracle의 문자열 연결 연산자 `||` 를 사용하여, `PLANETS` 테이블에 새로운 행성을 추가하되 `planet_name`을 'Proxima Centauri' 항성계의 'b' 행성이라는 의미로 `'Proxima Centauri' || ' b'` 와 같이 조합하여 `INSERT` 하는 쿼리를 작성하세요.
INSERT INTO PLANETS (planet_id, planet_name, system_id)
VALUES (301, 'Proxima Centauri' || ' b', 2);

13. `PLANETS` 테이블의 `population` 컬럼에 `CHECK (population >= 0)` 과 같은 **CHECK 제약조건**을 추가하는 구문(`ALTER TABLE ...`)을 작성하고, 이 제약조건의 역할을 설명하세요.
ALTER TABLE PLANETS
ADD CONSTRAINT chk_population_nonnegative
CHECK (population >= 0);
CHECK 제약조건은 population 값이 음수가 되지 않도록 보장한다. (데이터 무결성 유지)

14. 위 `CHECK` 제약조건이 추가된 후, `population`에 음수 값(예: -100)을 `INSERT` 하려고 하면 어떤 일이 발생하는지 설명하세요.
populatioin >=0의 제약조건을 위반했기 때문에 오류가 발생한다.

15. `discovery_date`가 `NULL`인 행성만 선택하여, 이 행성들의 발견일을 오늘 날짜로 **갱신(UPDATE)** 하는 SQL문을 작성하세요.
UPDATE PLANETS
SET discovery_date = SYSDATE
WHERE discovery_date IS NULL;

16. `STAR_SYSTEMS` 테이블에서 `system_id`가 2인 'Alpha Centauri'의 이름을 'Alpha Centauri System'으로 변경하는 `UPDATE` 문을 작성하세요.
UPDATE STAR_SYSTEMS
SET system_name = 'Alpha Centauri System'
WHERE system_id = 2;

17. `SPECIES` 테이블에서 기술 수준(`tech_level`)이 알려지지 않아 `NULL`인 모든 종족을 **삭제(DELETE)** 하는 SQL문을 작성하세요.
DELETE FROM SPECIES
WHERE tech_level IS NULL;

18. `STAR_SYSTEMS` 테이블에 `system_id`가 1인 'Solar System'이 이미 존재합니다. 이 시스템에 소속된 행성이 `PLANETS` 테이블에 있음에도 불구하고, `DELETE FROM STAR_SYSTEMS WHERE system_id = 1;` 쿼리를 실행하면 어떻게 될까요? (FOREIGN KEY의 동작 방식과 관련하여 설명하세요.)
오류가 발생한다. PLANETS 테이블에 아직 system_id = 1 행성이 존재하기 때문에 FOREIGN KEY 무결성을 위반하기 때문이다.

19. `PLANETS` 테이블에 `atmosphere_type` (대기 타입, VARCHAR2(50)) 컬럼을 **추가(ALTER TABLE)** 하는 SQL문을 작성하세요.
ALTER TABLE PLANETS
ADD atmosphere_type VARCHAR2(50);

20. 추가된 `atmosphere_type` 컬럼에 'Earth'는 'Breathable', 'Mars'는 'Thin CO2'로 값을 갱신하는 `UPDATE` 문을 각각 작성하세요.
UPDATE PLANETS
SET atmosphere_type = 'Breathable'
WHERE planet_name = 'Earth';

UPDATE PLANETS
SET atmosphere_type = 'Thin CO2'
WHERE planet_name = 'Mars';

---

### **Phase 3: 동적 콘텐츠를 위한 복합 HTML 구조 (21~35번)**

단순한 목록을 넘어, 데이터의 관계를 표현할 수 있는 중첩 목록과 테이블 구조를 제작합니다.

#### **HTML: 중첩 목록, 테이블, 고급 링크 활용**
21. `planets.html` 페이지에 'Solar System'의 행성 목록을 **중첩 목록(Nested List)** 으로 표현하려고 합니다. 아래 구조에 맞게 `<ul>`과 `<li>`를 사용하여 HTML 코드를 작성하세요.
    * Solar System
        * Earth
            * Moon
        * Mars
            * Phobos
            * Deimos
<ul>
  <li>Solar System
    <ul>
      <li>Earth
        <ul>
          <li>Moon</li>
        </ul>
      </li>
      <li>Mars
        <ul>
          <li>Phobos</li>
          <li>Deimos</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>


22. 외계 종족들의 기술 수준을 한눈에 비교할 수 있는 **표(Table)** 를 `species.html`에 만들려고 합니다. `<table>`, `<thead>`, `<tbody>`, `<tr>`, `<th>`, `<td>` 태그를 모두 사용하여 '종족명', '모성', '기술 수준' 컬럼을 가진 표를 작성하세요. (데이터는 2~3개 임의로 추가)
<table>
  <thead>
    <tr>
      <th>종족명</th>
      <th>모성</th>
      <th>기술 수준</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Greys</td>
      <td>Zeta Reticuli</td>
      <td>Advanced</td>
    </tr>
    <tr>
      <td>Martians</td>
      <td>Mars</td>
      <td>Intermediate</td>
    </tr>
  </tbody>
</table>

23. 위에서 만든 표에 `<caption>` 태그를 사용하여 "은하계 주요 종족 기술 수준 비교" 라는 제목을 추가하세요.
<table>
  <caption>은하계 주요 종족 기술 수준 비교</caption>
  <thead> ... </thead>
  <tbody> ... </tbody>
</table>

24. `index.html`의 `<nav>` 메뉴에서 '행성 목록' 링크를 클릭하면, 새 탭에서 `planets.html`이 열리도록 `<a>` 태그에 어떤 속성을 추가해야 하나요?
<a href="planets.html" target="_blank">행성 목록</a>

25. 행성 상세 정보 페이지(`details.html`)에 있는 행성 이미지(`<img>`)를 클릭하면, 해당 항성계 페이지(`system.html`)로 이동하도록 만들고 싶습니다. `<a>` 태그와 `<img>` 태그를 어떻게 조합해야 하는지 코드로 보여주세요.
<a href="system.html">
  <img src="planet.jpg" alt="행성 이미지">
</a>

26. `pre` 태그가 코드나 텍스트의 형식을 그대로 보존하는 반면, `code` 태그의 의미론적 용도는 무엇인지 설명하세요.
code태그는 프로그래밍 코드 조각임을 표시한다. 형식을 유지하진 않고, 의미를 전달하는 것

27. 목록 태그 `<ul>`과 `<ol>`의 가장 본질적인 차이점(순서의 중요성)에 대해 설명하고, 각각 어떤 상황에 사용하는 것이 의미상 적절한지 예시를 들어 설명하세요.
ul은 쇼핑 목록처럼 순서가 중요하지 않은 목록을 나열할 때 좋고, ol은 레시피 순서처럼 순서가 중요한 목록을 나열할 떄 사용한다.

28. `<dl>` 태그가 용어와 설명을 짝지어주는 목록이라면, 어떤 종류의 콘텐츠를 표시할 때 가장 효과적일까요? (예: FAQ, 용어 사전 등)
FAQ나 용어사전처럼 항목들에 대한 설명을 정의할 때 효과적이다.

29. 블록 요소인 `<p>` 태그 안에 또 다른 블록 요소인 `<div>`를 넣는 것은 HTML5 표준에서 허용될까요? 그 이유를 설명하세요.
허용안된다. div를 넣으면 브라우저가 p를 자동으로 닫기 때문이다.

30. `<span>`과 같은 인라인 요소에 `width`와 `height` CSS 속성을 적용해도 일반적으로 변화가 없는 이유는 무엇인지, 인라인 요소의 렌더링 방식과 관련하여 설명하세요.
인라인 요소는 텍스트 흐름 안에서만 크기를 결정하기 때문이다. 

31. 특수문자 엔티티 `&copy;` 와 `&reg;` 는 각각 어떤 기호를 나타내나요? (`<footer>`에 저작권 정보를 표시할 때 유용합니다.)
&copy;는 ©(저작권 표시)를 나타내고, &reg;는 ® (등록상표 표시)를 나타낸다.

32. `details.html` 페이지에서 같은 `pages/planets/` 폴더 내에 있는 `notes.txt` 파일로의 링크를 거는 상대경로를 작성하세요.
<a href="notes.txt">Notes</a>

33. `details.html` 페이지에서 **상위 폴더(`pages`)** 에 있는 `species.html` 파일로의 링크를 거는 상대경로를 작성하세요.
<a href="../species.html">Species Page</a>

34. HTML5에서 새로 추가된 `<article>` 태그는 어떤 종류의 콘텐츠를 감싸는 데 사용하는 것이 가장 적합한지 설명하세요. (예: 블로그 글, 뉴스 기사)
블로그 글이나 뉴스 기사처럼 독립적으로 배포 가능하고 자기완결적인 콘텐츠를 감싸는데 사용하는 것이 적합하다.

35. `<img>` 태그의 `alt` 속성의 중요성을 두 가지 측면(웹 접근성, SEO)에서 설명하세요.
웹 접근성: 시각장애인용 스크린 리더가 대체 텍스트를 읽어준다. SEO: 검색 엔진이 이미지가 어떤 내용인지 인식하게 해준다.

---

### **Phase 4: 복합 조건을 이용한 고급 데이터 필터링 및 정렬 (36~50번)**

사용자의 다양한 요구사항에 맞춰, 여러 조건을 조합하고 형식화된 데이터를 조회하는 복잡한 SQL 쿼리를 작성합니다.

#### **Oracle SQL: 고급 WHERE절, 함수, 복합 ORDER BY 활용**
36. `PLANETS` 테이블에서 인구가 10억 이상 100억 이하인 행성을 모두 조회하세요. (`BETWEEN` 연산자 사용)
SELECT *
FROM PLANETS
WHERE population BETWEEN 1000000000 AND 10000000000;

37. `SPECIES` 테이블에서 모성이 'Earth'(ID: 101) 또는 'Mars'(ID: 102)인 종족을 모두 조회하세요. (`IN` 연산자 사용)
SELECT *
FROM SPECIES
WHERE home_planet_id IN (101, 102);

38. 대기 타입(`atmosphere_type`)이 'Breathable' 이면서 **(AND)** 인구가 0 이상인 행성, **또는(OR)** 대기 타입이 `NULL`인 모든 행성을 조회하는 복합 `WHERE` 절을 작성하세요. (괄호 `()`를 사용하여 조건의 우선순위를 명확히 해야 합니다.)
SELECT *
FROM PLANETS
WHERE (atmosphere_type = 'Breathable' AND population >= 0)
   OR atmosphere_type IS NULL;

39. `SELECT` 문에서 `planet_name`과 `population`을 조회하되, `population`이 `NULL`일 경우 0으로 표시하여 조회하는 `NVL` 함수를 사용한 쿼리를 작성하세요.
SELECT planet_name, NVL(population, 0) AS population
FROM PLANETS;

40. `STAR_SYSTEMS` 테이블에서 `system_name`을 모두 **소문자**로 변환하여 조회하는 `LOWER` 함수를 사용한 쿼리를 작성하세요.
SELECT LOWER(system_name) AS system_name_lower
FROM STAR_SYSTEMS;

41. `PLANETS` 테이블에서 행성 이름(`planet_name`)과 그 이름의 글자 수를 함께 조회하는 `LENGTH` 함수를 사용한 쿼리를 작성하세요.
SELECT planet_name, LENGTH(planet_name) AS name_length
FROM PLANETS;

42. `PLANETS` 테이블에서 `discovery_date`를 기준으로 **최신순(내림차순)** 으로 정렬하되, 만약 발견일이 같다면 `planet_name`의 **알파벳순(오름차순)** 으로 2차 정렬하는 `ORDER BY` 절을 작성하세요.
SELECT *
FROM PLANETS
ORDER BY discovery_date DESC, planet_name ASC;

43. `SELECT` 조회 시, `planet_name` 과 `'(ID: ' || planet_id || ')'` 를 연결하여 "Earth (ID: 101)" 과 같은 형태로 보이도록 'FormattedName' 이라는 별칭을 가진 컬럼을 만드는 쿼리를 작성하세요.
SELECT planet_name || ' (ID: ' || planet_id || ')' AS FormattedName
FROM PLANETS;

44. `PLANETS` 테이블에서 소속 항성계(`system_id`)의 종류가 몇 개인지 **중복을 제거**하여 조회하는 쿼리를 작성하세요. (`DISTINCT` 사용)
SELECT DISTINCT system_id
FROM PLANETS;

45. `SPECIES` 테이블에서 종족 이름이 5글자 이하인 종족들만 조회하는 쿼리를 `LENGTH` 함수와 `WHERE` 절을 조합하여 작성하세요.
SELECT *
FROM SPECIES
WHERE LENGTH(species_name) <= 5;

46. `PLANETS` 테이블의 `population`을 1,000,000으로 나눈 값(백만 단위 인구)을 기준으로 내림차순 정렬하는 `ORDER BY` 절을 작성하세요.
SELECT *
FROM PLANETS
ORDER BY (population / 1000000) DESC;

47. `WHERE` 절에서 `LIKE` 와일드카드 `_`(언더스코어)를 사용하여, 이름이 정확히 4글자인 행성만 조회하는 쿼리를 작성하세요.
SELECT *
FROM PLANETS
WHERE planet_name LIKE '____';

48. `UPDATE` 문에 `WHERE` 절을 사용하지 않았을 때 발생할 수 있는 치명적인 문제점은 무엇인지 설명하세요.
UPDATE문에 WHERE절을 사용하지 않으면, 모든 항목이 한꺼번에 갱신되어 데이터 전체의 손실 위험성이 있다.

49. `DELETE` 문에 `WHERE` 절을 사용하여, `discovery_date`가 2000년 1월 1일 이전인 오래된 행성 기록만 삭제하는 쿼리를 작성하세요. (날짜 형식: `TO_DATE('2000-01-01', 'YYYY-MM-DD')`)
DELETE FROM PLANETS
WHERE discovery_date < TO_DATE('2000-01-01', 'YYYY-MM-DD'); 


50. 최종 미션: `PLANETS` 테이블에서 `system_id`가 1이고 대기가 'Breathable'인 행성들의 이름과 인구를 조회하여, 인구가 많은 순으로 정렬하는 최종 보고용 쿼리를 작성하세요. 이 쿼리의 결과를 어떤 HTML 태그(테이블, 목록 등)로 표현하는 것이 가장 효과적일지 설명하며 프로젝트를 마무리하세요.
SELECT planet_name, population
FROM PLANETS
WHERE system_id = 1
  AND atmosphere_type = 'Breathable'
ORDER BY population DESC;

이 쿼리는 행성 이름과 인구의 열 구조이기 떄문에 table로 표현 하는 것이 가장 효과적일 것이다.