### 객관식 문제 (Multiple Choice)

**1. HTML 인라인(inline) 요소의 특징으로 옳지 않은 것은?**<br>
a) 다른 요소와 한 줄에 나란히 배치된다.<br>
b) 너비(width)와 높이(height) 속성을 직접 지정할 수 없다.<br>
<u>c) 내용물의 크기와 상관없이 항상 가로 한 줄을 전부 차지한다.</u><br>
d) `<span>`, `<a>`, `<strong>` 태그가 대표적인 인라인 요소이다.

**2. HTML 블럭(block) 요소에 대한 설명으로 가장 적절한 것은?**<br>
a) 문장의 일부처럼 취급되며 줄 바꿈이 일어나지 않는다.<br>
b) 상하 여백(margin-top, margin-bottom)을 적용할 수 없다.<br>
c) 다른 블럭 태그나 인라인 태그를 포함할 수 없다.<br>
<u>d) 항상 새로운 줄에서 시작하며, 해당 줄의 모든 너비를 차지한다.</u>

**3. 다음 중 블럭(block) 태그에 해당하지 않는 것은?**<br>
a) `<h1>`<br>
<u>b) `<span>`</u><br>
c) `<p>`<br>
d) `<div>`

**4. 순서가 중요하지 않은 목록을 만들 때 사용하는 태그의 올바른 조합은?**<br>
a) `<ol>`과 `<li>`<br>
<u>b) `<ul>`과 `<li>`</u><br>
c) `<dl>`과 `<dt>`<br>
d) `<list>`와 `<i>`

**5. "라면 끓이는 법"과 같이 순서가 중요한 목록을 작성할 때 가장 적합한 태그는?**<br>
a) `<ul>`<br>
b) `<dl>`<br>
<u>c) `<ol>`</u><br>
d) `<div>`

**6. 용어와 그에 대한 설명을 짝지어 목록을 만들 때 사용하는 태그는?**<br>
a) `<ul>`<br>
b) `<ol>`<br>
c) `<li>`<br>
<u>d) `<dl>`</u>

**7. 정의 리스트(`dl`)에서 용어 자체를 나타내는 태그는 무엇인가요?**<br>
a) `<dl>`<br>
b) `<dd>`<br>
c) `<li>`<br>
<u>d) `<dt>`</u>

**8. 리스트 안에 또 다른 리스트를 넣어 계층 구조를 만드는 것을 무엇이라고 하나요?**<br>
a) 인라인 리스트<br>
b) 블럭 리스트<br>
<u>c) 중첩 리스트 (Nested List)</u><br>
d) 정의 리스트

**9. HTML 중첩 리스트를 만들 때, 새로운 `<ul>` 또는 `<ol>`은 어떤 태그의 자식 요소로 들어가야 하나요?**<br>
a) `<body>`<br>
<u>b) `<li>`</u><br>
c) `<p>`<br>
d) `<div>`

**10. 다음 중 '이 구역은 다 내꺼야\!\! 무조건 한 줄 차지\!\!'라는 설명에 가장 어울리는 HTML 요소 유형은?**<br>
a) 인라인(inline)<br>
<u>b) 블럭(block)</u><br>
c) 앵커(anchor)<br>
d) 텍스트(text)

**11. Oracle SQL에서 두 개 이상의 조건을 모두 만족해야 하는 경우 사용하는 논리 연산자는?**<br>
a) OR<br>
b) NOT<br>
<u>c) AND</u><br>
d) IN

**12. Oracle SQL에서 여러 조건 중 하나라도 만족하면 데이터를 선택하는 논리 연산자는?**<br>
a) AND<br>
<u>b) OR</u><br>
c) NOT<br>
d) BETWEEN

**13. `WHERE JOB = 'SALESMAN' AND DEPTNO = 30;` SQL 문의 의미로 올바른 것은?**<br>
a) 직책이 'SALESMAN'이거나 부서번호가 30인 사원<br>
b) 직책이 'SALESMAN'이 아니고 부서번호가 30인 사원<br>
<u>c) 직책이 'SALESMAN'이면서 동시에 부서번호가 30인 사원</u><br>
d) 직책이 'SALESMAN'이거나 부서번호가 30이 아닌 사원

**14. `WHERE NOT (DEPTNO = 30);` SQL 문과 동일한 의미를 가지는 것은?**<br>
a) `WHERE DEPTNO IN (10, 20);`<br>
<u>b) `WHERE DEPTNO != 30;`</u><br>
c) `WHERE DEPTNO = 30;`<br>
d) `WHERE DEPTNO OR 30;`

**15. 여러 값 중 하나라도 일치하는 데이터를 찾을 때 사용하는 키워드 연산자는?**<br>
a) BETWEEN<br>
b) IS NULL<br>
c) LIKE<br>
<u>d) IN</u>

**16. `WHERE SAL BETWEEN 2000 AND 3000;` SQL 문의 조건에 포함되는 SAL 값은?**<br>
a) 1999<br>
b) 3001<br>
<u>c) 2500</u><br>
d) 1500

**17. `BETWEEN A AND B` 연산자에 대한 설명으로 올바른 것은?**<br>
a) A와 B를 제외한 사이의 값만 찾는다.<br>
<u>b) A와 B를 포함한 사이의 값을 찾는다.</u><br>
c) A보다 크고 B보다 작은 값만 찾는다.<br>
d) A 또는 B와 일치하는 값만 찾는다.

**18. 데이터가 비어 있는(NULL) 경우를 찾을 때 사용하는 키워드 연산자는?**<br>
a) IS EMPTY<br>
<u>b) IS NULL</u><br>
c) IN NULL<br>
d) EQUAL NULL

**19. `COMM` 컬럼이 NULL이 아닌 데이터를 검색하는 올바른 SQL 구문은?**<br>
a) `WHERE COMM != NULL;`<br>
b) `WHERE COMM NOT NULL;`<br>
<u>c) `WHERE COMM IS NOT NULL;`</u><br>
d) `WHERE NOT COMM IS NULL;`

**20. 직책(JOB)이 'CLERK' 이거나 급여(SAL)가 3000 이상인 사원을 검색하는 올바른 SQL 구문은?**<br>
a) `WHERE JOB = 'CLERK' AND SAL >= 3000;`<br>
<u>b) `WHERE JOB = 'CLERK' OR SAL >= 3000;`</u><br>
c) `WHERE JOB IN ('CLERK') AND SAL > 3000;`<br>
d) `WHERE JOB != 'CLERK' OR SAL < 3000;`