좋은 아침입니다. 굳 모닝 퀴즈!!

### **Oracle SQL (1-10번)**

**1. `EMP` 테이블에서 이름(ENAME)에 'A'가 포함된 모든 직원을 찾는 쿼리로 올바른 것은?**<br>
① `SELECT * FROM EMP WHERE ENAME LIKE 'A%';`<br>
② `SELECT * FROM EMP WHERE ENAME LIKE '%A';`<br>
③ `SELECT * FROM EMP WHERE ENAME LIKE '_A_';`<br>
<u>④ `SELECT * FROM EMP WHERE ENAME LIKE '%A%';`</u>

-----

**2. `EMP` 테이블에서 이름(ENAME)이 'S'로 시작하고 총 5글자인 직원을 찾는 쿼리는?**<br>
<u>① `SELECT * FROM EMP WHERE ENAME LIKE 'S____';`</u><br>
② `SELECT * FROM EMP WHERE ENAME LIKE 'S%';`<br>
③ `SELECT * FROM EMP WHERE ENAME LIKE 'S___';`<br>
④ `SELECT * FROM EMP WHERE ENAME LIKE 'S%S';`

-----

**3. 직업(JOB)에 'SALES'라는 단어가 포함되지 않는 직원을 찾는 쿼리로 올바른 것은?**<br>
① `SELECT * FROM EMP WHERE JOB != 'SALES';`<br>
② `SELECT * FROM EMP WHERE JOB NOT LIKE 'SALES%';`<br>
<u>③ `SELECT * FROM EMP WHERE JOB NOT LIKE '%SALES%';`</u><br>
④ `SELECT * FROM EMP WHERE JOB <> 'SALESMAN';`

-----

**4. `ORDER BY` 절에 대한 설명으로 올바르지 않은 것은?**<br>
① `SELECT` 문의 가장 마지막에 위치하는 것이 일반적이다.<br>
② 특정 컬럼을 기준으로 데이터의 순서를 정렬할 수 있다.<br>
<u>③ `ASC`는 내림차순, `DESC`는 오름차순을 의미한다.</u><br>
④ 정렬 방식을 생략하면 기본적으로 오름차순(`ASC`)으로 정렬된다.

-----

**5. 모든 직원의 정보를 급여(SAL)가 적은 순서부터 많은 순서로 정렬하는 쿼리는?**<br>
① `SELECT * FROM EMP ORDER BY SAL DESC;`<br>
<u>② `SELECT * FROM EMP ORDER BY SAL;`</u><br>
③ `SELECT * FROM EMP WHERE SAL ORDER BY ASC;`<br>
④ `SELECT * FROM EMP SORT BY SAL ASC;`

-----

**6. 직업(JOB)을 기준으로 내림차순 정렬하고, 직업이 같으면 이름(ENAME)을 기준으로 오름차순 정렬하는 쿼리는?**<br>
① `SELECT * FROM EMP ORDER BY JOB ASC, ENAME DESC;`<br>
② `SELECT * FROM EMP ORDER BY JOB, ENAME;`<br>
<u>③ `SELECT * FROM EMP ORDER BY JOB DESC, ENAME ASC;`</u><br>
④ `SELECT * FROM EMP ORDER BY JOB DESC, ENAME DESC;`

-----

**7. 다음 중 '학생의 학번, 이름, 시험 점수'를 저장할 `STUDENT_SCORES` 테이블을 생성하는 올바른 쿼리는?**<br>
① `CREATE STUDENT_SCORES (ID NUMBER, NAME VARCHAR2(50), SCORE NUMBER);`<br>
② `CREATE TABLE STUDENT_SCORES {ID NUMBER, NAME VARCHAR2(50), SCORE NUMBER};`<br>
③ `CREATE TABLE STUDENT_SCORES (ID, NAME, SCORE);`<br>
<u>④ `CREATE TABLE STUDENT_SCORES (ID NUMBER, NAME VARCHAR2(50), SCORE NUMBER);`</u>

-----

**8. 오라클 데이터 유형 중, 이름이나 주소처럼 글자 수가 일정하지 않은 가변 길이 문자열을 저장하는 데 가장 효율적인 것은?**<br>
① `NUMBER`<br>
<u>② `VARCHAR2`</u><br>
③ `CHAR`<br>
④ `DATE`

-----

**9. `CHAR(10)` 데이터 유형의 컬럼에 'SQL'이라는 세 글자를 저장했을 때, 실제로 차지하는 공간의 크기는?**<br>
① 3바이트<br>
② 5바이트<br>
<u>③ 10바이트</u><br>
④ 저장되지 않아 오류가 발생한다.

-----

**10. `EMP` 테이블에서 이름의 두 번째 글자가 'L'이고 마지막 글자가 'N'인 직원을 찾는 쿼리는?**<br>
<u>① `SELECT * FROM EMP WHERE ENAME LIKE '_L%N';`</u><br>
② `SELECT * FROM EMP WHERE ENAME LIKE '_L_N';`<br>
③ `SELECT * FROM EMP WHERE ENAME LIKE '%L%N';`<br>
④ `SELECT * FROM EMP WHERE ENAME LIKE 'L%N';`

-----

### **HTML (11-20번)**

**11. HTML에서 웹페이지에 이미지를 삽입할 때 사용하는 태그는 무엇인가?**<br>
① `<p>`<br>
<u>② `<img>`</u><br>
③ `<link>`<br>
④ `<pic>`

-----

**12. `<img>` 태그에서 이미지 파일의 경로를 지정하는 가장 중요한 속성은?**<br>
① `alt`<br>
② `title`<br>
③ `href`<br>
<u>④ `src`</u>

-----

**13. 이미지 로딩에 실패했을 경우, 그 자리에 나타날 대체 텍스트를 지정하는 `<img>` 태그의 속성은?**<br>
① `text`<br>
② `source`<br>
<u>③ `alt`</u><br>
④ `error`

-----

**14. 현재 HTML 파일과 같은 폴더에 있는 `photo.jpg`를 표시하는 방법으로 올바르지 않은 것은?**<br>
① `<img src="photo.jpg">`<br>
② `<img src="./photo.jpg">`<br>
<u>③ `<img src="../photo.jpg">`</u><br>
④ 위 세 가지 중 올바르지 않은 것이 있다.

-----

**15. 웹사이트의 최상위(root) 폴더에 있는 `images` 폴더 안의 `logo.png`를 표시하기 위한 절대 경로 표현으로 올바른 것은?**<br>
① `<img src="images/logo.png">`<br>
② `<img src="./images/logo.png">`<br>
③ `<img src="../images/logo.png">`<br>
<u>④ `<img src="/images/logo.png">`</u>

-----

**16. HTML에서 데이터를 표 형태로 정리할 때, 전체 표를 감싸는 태그는 무엇인가?**<br>
① `<tr>`<br>
② `<td>`<br>
<u>③ `<table>`</u><br>
④ `<thead>`

-----

**17. `<table>` 태그 내에서 표의 제목 행을 만들 때 주로 사용하는 태그는 무엇인가?**<br>
<u>① `<th>`</u><br>
② `<caption>`<br>
③ `<td>`<br>
④ `<h1>`

-----

**18. `<table>` 태그의 구조에서, 하나의 \*\*데이터 셀(칸)**을 만드는 태그는 무엇인가?**<br>
① `<tr>`<br>
<u>② `<td>`</u><br>
③ `<col>`<br>
④ `<cell>`

-----

**19. 다음 HTML 코드에 대한 설명으로 가장 적절한 것은?**<br>
` html <table border="1"> <tr> <td>A</td> <td>B</td> </tr> <tr> <td>C</td> <td>D</td> </tr> </table>  `<br>
① 1행 4열 테이블이다.<br>
② 4행 1열 테이블이다.<br>
<u>③ 2행 2열 테이블이다.</u><br>
④ 테이블이 아닌 목록이다.

-----

**20. `<img>` 태그의 `width`와 `height` 속성에 대한 설명으로 올바른 것은?**<br>
① 반드시 `px` 단위를 함께 명시해야 한다.<br>
<u>② 이미지의 가로 너비와 세로 높이를 지정하는 속성이다.</u><br>
③ 이미지의 파일 크기를 지정하는 속성이다.<br>
④ 이미지의 테두리 두께를 지정하는 속성이다.

-----